body {
    background-color:#448a8d;
    width: 60%;
    margin: auto;
    font-size: 18px;
    font-family:'Rubik', sans-serif;
}
header {
    margin-top: 5%;
}
main {
    margin-top: 5%;
}
h1 {
    font-size: 44px;
}
h2 {
    font-size: 28px;
}
a {
    color: #3f3a3a !important;
    text-decoration: none;
}
a:hover {
    color: #5D2E49 !important;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 22px;
    color:#302c2c;
}

.menu-hover:hover{
    color:#5D2E49;
    cursor: pointer;
    text-decoration: underline;
}


.main-header {
    color: #302c2c;
    margin-top: 20px;
}



ul {
    list-style-type:initial;
}
.points {
    color: #3f3a3a;
}

.photo {
    width: 35%;
    height: 35%;
    border-radius: 20%;
    border: #302c2c;
}

.header-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cred {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.code {
    color: #3f3a3a;
    font-weight: bold;
}
footer {
    margin-bottom: 0px;
}

.github {
    height: 30px;
}

.year {
  font-size: 40px;
  color: #302c2c;
  margin-left: 20px;
  margin-right: 20px;
}

footer {
    margin-top: 20px;
}
.footer-block {
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    margin-left: 40px;
}

.inner-exp {
    margin-left: 40px;
}

.edu {
    margin-left: 40px;
}

.name {
    margin-top: 0px;
}
